body, html {
    margin: 0;
    padding: 0;

    background-color: #181a1b;
    width: 100vw;
    height: 100%;
    min-height: 100vh;

    font-family: system-ui, -apple-system, var(--font-family), Roboto, sans-serif;
    font-style: normal;
    color: #000;

    scroll-behavior: smooth;
    position: relative;
    overflow: hidden;
}

.content {
    z-index: 2;

    height: 100%;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

h1, h2 {
    font: 700 96px/100% var(--font-family);
    text-align: center;
    color: #FFFFFFD6;
    text-shadow: 0 0 10px #ffffff;
}
h2 {
    font: 700 64px/100% var(--font-family);
}

.contact{
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 24px;

    max-width: fit-content;

    border: 2px;
    text-shadow: 0 0 10px #ffffff;
}

.contact a{
    padding: 10px 20px;
    max-width: max-content;
    width: 100%;
    min-width: 500px;
    height: 75px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;

    background-color: #2f2f2f;
    border-radius: 16px;
    border: 3px solid white;

    font: 500 18px/24px var(--font-family);
    color: #FFF;
    text-decoration: none;

    box-shadow: 0 0 10px #3b3838;

    transition: background-color 0.5s ease, transform 0.4s ease, border-color 0.8s ease;
}

.contact a:hover {
    background-color: #111;
    box-shadow: 0 0 20px #8006da;
    text-shadow: 0 0 20px #8006da;
    transform: scale(1.1);
    border-color: #8006da;
}

.icon{
    justify-content: flex-start;
    width: 40px;
    height: 40px;
    margin-right: auto;
}


.lines {
    z-index: -1;
    top: -50vh;
    left: -50vw;
    right: 0;
    bottom: 0;
    height: 200vh;
    margin: auto;
    width: 200vw;
}

.line {
    z-index: 0;
    position: absolute;
    width: 1px;
    height: 200vh;
    top: -30vh;
    left: 50%;
    overflow: hidden;
    transform: rotate(-45deg);
}

.line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
    margin-left: -25%;
}

.line:nth-child(1)::after {
    animation-delay: 2s;
}

.line:nth-child(3) {
    margin-left: 25%;
}

.line:nth-child(3)::after {
    animation-delay: 2.5s;
}

@keyframes drop {
    0% {
        top: -50%;
    }
    100% {
        top: 150%;
    }
}
/*Stars*/
#particles-js {
    z-index: 0;
    position: absolute;
    top: 0;

    height: 100vh;
    width: 100vw;

    background-repeat: no-repeat;
    background-size: cover;
}

/*Mobile view*/
@media (width <= 660px){
    h1 {
        font-size: 3.5em;
    }
    h2 {
        font-size: 2.5em;
    }
    .contact a {
        min-width: 300px;
        height: 70px;
    }
}