:root {
    --font-family: 'Clash Display', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body, html {
    margin: 0;
    padding: 0;

    background-color: #181a1b;
    width: 100vw;
    height: 100%;
    min-height: 100vh;

    font-family: system-ui, -apple-system, var(--font-family), Roboto, sans-serif;
    font-style: normal;
    color: #000;

    scroll-behavior: smooth;
    position: relative;
    overflow: hidden;
}

@font-face {
    font-family: "Clash Display";
    src: url("./fonts/ClashDisplay-Extralight.otf");
    font-weight: 200;
}

@font-face {
    font-family: "Clash Display";
    src: url("./fonts/ClashDisplay-Light.otf");
    font-weight: 300;
}

@font-face {
    font-family: "Clash Display";
    src: url("./fonts/ClashDisplay-Regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: "Clash Display";
    src: url("./fonts/ClashDisplay-Medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: "Clash Display";
    src: url("./fonts/ClashDisplay-Semibold.otf");
    font-weight: 600;
}

@font-face {
    font-family: "Clash Display";
    src: url("./fonts/ClashDisplay-Bold.otf");
    font-weight: 700;
}

h1 {
    font: 700 95px/100% var(--font-family);
    text-align: center;
    color: #FFFFFFD6;
    text-shadow: 0 0 10px #ffffff;
}

.content {
    z-index: 2;

    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.links {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    border: 3px;
    text-shadow: 0 0 10px #ffffff;
}

.links a {
    padding: 10px 20px;

    max-width: max-content;
    width: 100%;
    min-width: 189px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #2f2f2f;
    border-radius: 16px;

    font: 500 16px/24px var(--font-family);
    color: #FFF;
    text-decoration: none;

    box-shadow: 0 0 10px #3b3838;

    transition: color 0.5s ease, opacity 0.5s ease, background-color 0.5s ease, transform 0.4s ease;
}

#link:active{
    transform: scale(0.9);
}

a:hover {
    background-color: #111;
    box-shadow: 0 0 20px #8006da;
    text-shadow: 0 0 20px #8006da;
    transform: scale(1.1);
}

a:visited {
    color: white;
}

/*lines*/
.lines {
    z-index: -1;
    top: -50vh;
    left: -50vw;
    right: 0;
    bottom: 0;
    height: 200vh;
    margin: auto;
    width: 200vw;
}

.line {
    z-index: 0;
    position: absolute;
    width: 1px;
    height: 200vh;
    top: -30vh;
    left: 50%;
    /* background: rgba(255, 255, 255, 0.1); */
    overflow: hidden;
    transform: rotate(-45deg);
}

.line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
    margin-left: -25%;
}

.line:nth-child(1)::after {
    animation-delay: 2s;
}

.line:nth-child(3) {
    margin-left: 25%;
}

.line:nth-child(3)::after {
    animation-delay: 2.5s;
}

@keyframes drop {
    0% {
        top: -50%;
    }
    100% {
        top: 150%; /* Zwiększono wartość, aby animacja wychodziła poza dolny róg ekranu */
    }
}


/*Stars*/
#particles-js {
    position: absolute;
    top: 0;

    height: 100vh;
    width: 100vw;

    /*background-color: #000000;*/
    /*background-image: url("");*/
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: 50% 50%;*/
}

/*Mobile view*/
@media screen and (max-width: 600px) {
    body {
        font-size: 18px;
    }

    #button {
        flex-direction: column;
        justify-items: center;
        margin-bottom: 20px;
        margin-right: 10px;
        font-size: 20px;
    }

    h1 {
        font-size: 3em;
        height: 45vh;
    }

    p {
        font-size: 1em;
        height: 40vh;
    }
    a{
        z-index: 2;

        width: 200px;

        font-size: 1em;
    }
}
@media screen and (max-width: 360px) {
    body {
        font-size: 16px;
    }
    #button {
        flex-direction: column;
        margin-bottom: 15px;
        font-size: 19px;
    }
    h1 {
        font-size: 3em;
    }
    p {
        font-size: 0.8em;
    }
}
@media (width <= 660px) {
    .content {
        gap: 64px;
    }

    .links {
        flex-direction: column;
    }
}